@import "tailwindcss";

@theme {
  --color-background: #070e1b;
  --color-surface: #070e1b;
  --color-surface-container: #11192a;
  --color-surface-container-low: #0c1322;
  --color-surface-container-high: #172031;
  --color-surface-container-highest: #1c2639;
  --color-surface-container-lowest: #000000;
  --color-surface-bright: #222c41;
  --color-on-surface: #e2e8fb;
  --color-on-surface-variant: #a5abbd;
  --color-primary: #85adff;
  --color-primary-container: #6e9fff;
  --color-primary-dim: #699cff;
  --color-on-primary: #002c66;
  --color-secondary: #ac8aff;
  --color-secondary-container: #5516be;
  --color-secondary-fixed: #dac9ff;
  --color-secondary-dim: #8455ef;
  --color-on-secondary: #280067;
  --color-tertiary: #8ce7ff;
  --color-tertiary-container: #53ddfc;
  --color-tertiary-dim: #40ceed;
  --color-on-tertiary: #005464;
  --color-error: #ff716c;
  --color-error-container: #9f0519;
  --color-outline: #6f7586;
  --color-outline-variant: #414857;

  --font-headline: "Space Grotesk", sans-serif;
  --font-body: "Plus Jakarta Sans", sans-serif;
  --font-label: "Inter", sans-serif;
}

body {
  background-color: #070e1b;
  color: #e2e8fb;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  vertical-align: middle;
}

.glass-panel {
  background: rgba(28, 38, 57, 0.4);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.text-gradient {
  background: linear-gradient(to bottom, #85adff, #ac8aff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.tilt-card {
  transition: transform 0.3s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.tilt-card:hover {
  transform: perspective(1000px) rotateX(2deg) rotateY(2deg) scale(1.02);
}

.skill-tag:hover {
  transform: translateY(-4px);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes shimmer {
  100% {
    left: 150%;
  }
}

.shimmer-bar::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2), transparent);
  animation: shimmer 2s infinite;
}

@keyframes floatUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-100px);
    opacity: 0;
  }
}

.floating-xp {
  animation: floatUp 2s ease-out forwards;
}